.button{
  min-width: 100px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  transition: box-shadow .2s linear;
  cursor: pointer;
  &--primary{
    background: white;
    border: none;
    border-radius: 5px;
    line-height: 20px;
  }
  &:hover,&:focus{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  &:active{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
  &:disabled{
    opacity: .5;
    pointer-events: none;
  }
}
