.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid rgba(#000000, 0.1);
  padding: 10px;
  @media (max-width:600px) {
    &:nth-child(even){
      border: none;
    }
  }
 
}