.list{
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
  padding: 0 10px;
  list-style: none;
  grid-column-gap: 10px;
  border: 1px solid rgba(#000000, 0.1);
}