.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px 2.5px;
  border: 1px solid rgba(#000000, 0.1);
  border-radius: 1px;
  @media (max-width:600px) {
    &:nth-child(even){
      border: none;
    }
  }
 
}