.list{
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(330px, 1fr) );
  padding: 0 10px;
  list-style: none;
  grid-column-gap: 10px;
  margin-bottom: 70px;
   @media (max-width:800px) {
    margin-bottom: 120px;
  }
}
