.container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: calc(100vh - 70px);
  background: white;
  padding: 20px;
  @media (max-width:800px) {
    flex-direction: column;
  }
}
p{
  margin: 0 5px;
}