.container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  @media (max-width:800px) {
    flex-direction: column;
  }
}
p{
  margin: 0 5px;
}